:host {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  display: none;

  background-color: rgba($color: #000000, $alpha: 0.3);
}

:host.visible {
  display: flex;
}

dialog {
  background-color: var(--color-card-background);
  color: var(--color-card-foreground);
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  border-width: 0;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
}
