:host {
  font-size: 1rem;
  display: grid;
  grid-template: 'casualties garrison';
  grid-template-rows: 1fr;
  grid-template-columns: subgrid;
}

.battalion__garrison {
  grid-area: garrison;
  display: grid;
  grid-template:
    'strength squad' auto
    '. squad' 1fr
    / auto 1fr;

  border: 2px dotted green;
  background-color: lightgreen;
}

.battalion__casualties {
  grid-area: casualties;
  border: 1px solid red;
  background-color: rgba(255, 192, 203, 0.493);

  display: flex;
  flex-flow: wrap;
  justify-content: end;
  align-items: start;
  direction: rtl;

  padding: 0 0.25em;
  gap: 0.25em;

  overflow-y: auto;
}

.battalion__strength {
  grid-area: strength;
  padding-left: 0.25em;
  padding-top: 0.1em;
  border: 1px solid red;
}

.battalion__squads {
  grid-area: squad;
  display: flex;
  flex-flow: column wrap;
  align-content: start;
  align-items: center;
  direction: rtl;
  max-height: 10em;

  padding: 0 0.25em;
  gap: 0.25em;

  overflow-x: auto;
}

:host.battalion__defend {
  grid-template: 'garrison casualties';
  grid-template-columns: subgrid; // This isn't actually changed, but need to re-declare it for subgrid behavior to kick-in correctly

  .battalion__garrison {
    grid-template-areas:
      'squad strength'
      'squad .';
    grid-template-columns: 1fr auto;

    .battalion__strength {
      padding-left: unset;
      padding-right: 0.25em;
    }

    .battalion__squads {
      direction: ltr;
    }
  }

  .battalion__casualties {
    direction: ltr;
  }
}
