:host {
  display: grid;
  font-size: 1rem;
  grid-template-columns: 6fr 1fr 6fr;
  grid-template-areas: 'attack dice defend';
  gap: 0.5em;
  padding: 0.5em;

  --battle-board-margin: 1em;
  width: calc(100vw - var(--battle-board-margin) - var(--battle-board-margin));
  height: calc(100vh - var(--battle-board-margin) - var(--battle-board-margin));
  margin: var(--battle-board-margin);
  border: 1px dashed red;
  background-color: rgba(255, 192, 203, 0.582);
}

.battle-board__army {
  --battle-board-army-col-1: 2fr;
  --battle-board-army-col-2: 5fr;

  position: relative;
  display: grid;
  grid-template:
    'label label' auto
    'squad5 squad5' 1fr
    'squad4 squad4' 1fr
    'squad3 squad3' 1fr
    'squad2 squad2' 1fr
    'squad1 squad1' 1fr
    / var(--battle-board-army-col-1) var(--battle-board-army-col-2);
  gap: 0.5em;
  padding: 0.5em;
  max-height: calc(100vh - var(--battle-board-margin) - var(--battle-board-margin) - 1em);

  border: 2px solid blue;
  background-color: rgba(173, 216, 230, 0.507);
}

.battle-board__dice-tray {
  grid-area: dice;
  border: 1px solid lime;
  background-color: rgba(212, 255, 212, 0.521);
}

.battle-board__dice-tray__results {
  display: flex;
  gap: 3px;
  align-items: start;
  align-content: start;
  justify-content: center;
  flex-wrap: wrap;
}

.battle-board__attack {
  grid-area: attack;
}

.battle-board__role-label {
  grid-area: label;
  text-align: right;
}

.battle-board__role-label__active {
  // TODO: These colors should come from our theme files
  color: #ffeb3b; // Bright yellow
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 0 0 8px rgba(255, 235, 59, 0.6),
    0 0 12px rgba(255, 235, 59, 0.4);
  font-weight: bold;
}

.battle-board__casualties__label {
  position: absolute;
  left: 0;
  top: 0;
  writing-mode: vertical-lr;
  text-orientation: sideways;

  transform: rotate(180deg);
  transform-origin: center;

  font-size: 4.5em;
  letter-spacing: 0.5em;
  padding-top: 0.5em;
  opacity: 0.25;
}

// TODO: Don't call these squads. They are now battalions. I need some consistency with how I'm naming things
.battle-board__squad__active {
  border: 3px solid red;
}

.battle-board__squad-1 {
  grid-area: squad1;
}

.battle-board__squad-2 {
  grid-area: squad2;
}

.battle-board__squad-3 {
  grid-area: squad3;
}

.battle-board__squad-4 {
  grid-area: squad4;
}

.battle-board__squad-5 {
  grid-area: squad5;
}

.battle-board__defend {
  grid-area: defend;
  grid-template:
    'squad5 squad5' 1fr
    'squad4 squad4' 1fr
    'squad3 squad3' 1fr
    'squad2 squad2' 1fr
    'squad1 squad1' 1fr
    'label label' auto
    / var(--battle-board-army-col-2) var(--battle-board-army-col-1);

  .battle-board__role-label {
    text-align: left;
  }

  .battle-board__casualties__label {
    transform: unset;
    right: 0;
    left: unset;
  }
}

.battle-board__dice__miss {
  opacity: 0.25;
}

.battle-board__dice__hit-pending {
  border: 2px solid red;
  background-color: rgb(255, 224, 224);
}

.battalion {
  position: relative;
  z-index: 1;
}
