:root {
  // Main Palette
  --color-default-background: rgb(44, 44, 44);
  --color-default-foreground: rgba(255, 255, 255, 0.884);
  --color-primary: rgb(24, 24, 97);
  --color-primary-light: oklch(from var(--color-primary) calc(l + 0.1) c h);
  --color-primary-lighter: oklch(from var(--color-primary) calc(l + 0.25) c h);
  --color-secondary: rgb(134, 46, 46);
  --color-secondary-light: oklch(from var(--color-secondary) calc(l + 0.1) c h);
  --color-secondary-lighter: oklch(from var(--color-secondary) calc(l + 0.25) c h);

  // Unit colors
  --color-unit-us: #2f7024;
  --color-unit-uk: #a38d6e;
  --color-unit-su: #6d1414;
  --color-unit-ja: #ce6300;
  --color-unit-de: #1d1d1d;
  --color-unit-neutral: #b1b1b1;

  // Buttons
  --color-button-foreground: var(--color-default-foreground);
  --color-button-background: rgb(54, 54, 54);
  --color-button-hover-background: rgb(87, 87, 87);
  --color-button-active-background: rgb(65, 65, 65);
  --color-button-disabled-background: rgb(138, 138, 138);
  --color-button-disabled-foreground: rgba(204, 204, 204, 0.884);

  // Cards
  --color-card-background: oklch(from var(--color-default-background) calc(l + 0.05) c h);
  --color-card-foreground: var(--color-default-foreground);
}
