@import url('https://fonts.cdnfonts.com/css/zero-prime');
@import url('https://fonts.cdnfonts.com/css/operation-napalm');

:root {
  --font-family-primary: 'Operation Napalm', system-ui;
  --font-family-secondary: 'Zero Prime', system-ui;

  --font-size: 12pt;
}
