@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
  font-family: 'Black Ops One', system-ui; //var(--ww2-font-family);
  font-size: 12pt; //var(--ww2-font-size);
  font-style: normal; //var(--ww2-font-style);
  font-weight: 400; // var(--ww2-font-weight);
}

h1 {
  font-size: 18pt;
}

h2 {
  font-size: 16pt;
}
