.military-unit-icon {
  &.nationality-us {
    fill: var(--color-unit-us);
  }

  &.nationality-uk {
    fill: var(--color-unit-uk);
  }

  &.nationality-su {
    fill: var(--color-unit-su);
  }

  &.nationality-ja {
    fill: var(--color-unit-ja);
  }

  &.nationality-de {
    fill: var(--color-unit-de);
  }

  &.nationality-neutral {
    fill: var(--color-unit-neutral);
  }
}
