@import 'styles/colors.scss';
@import 'styles/typography.scss';

@import 'styles/resets.scss';

@import 'styles/fonts.scss';

@import 'styles/theme-nationality.scss';

@import 'styles/badges.scss';

@import 'styles/buttons.scss';
