.map-container {
  width: 95vw;
  height: calc(95vh - var(--app-header-height));
  margin: 10px auto;
  background-color: white; // Matches the image border. So if the image is smaller than the container, it will blend in.
}
